/servers.data
/containers.data
*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.vscode
.project
.strong-pm
coverage
**/node_modules
node_modules
npm-debug.log
**/bower_components
**/node_modules_test
**/*.zip
**/dist/*
!dist/docs
**/dist/docs/*
!dist/docs/api
**/rethinkdb_data
nodered/**/[^.]*
log/**/[^.]*
data/**/[^.]*
server/views/build.html
server/views/build.min.html
uploads/**/[^.]*
.vscode/launch.json
server/datasources.json
servers.data
containers.data
/server/component-config.*.json
/server/component-config.json
/config/[^.]*
/Dockerfile
server/component-config.json
server/config.json
!server/private/.gitkeep
config copy/*
#plugins/[^.]*
plugins-app/*
plugins-login/*
dexports.json
out/**
customPlugins/[^.]*
customerPlugins/[^.]*
nodered/[^.]*
nodered/**/[^.]*
.nyc_output
docker/ng-rt/config/data/*
docker/ng-rt/plugins/**/*
docker/ng-rt/config/docs/*
docker/ng-rt/config/plugins/*
docker/tmdata/*
docker/mongodb/*
locales/*
*.lic
!packageLicenses/*.lic
